<%content_for :sidenav do %>
  <div class='panel' id='left-panel'>
    <h4>Choose a team</h4>
      <ul>
        <% @teams.each do |team| %>
      	  <li><%= link_to "#{team.hashtag}", search_term_path(team) %></li>
      	<% end %>
      </ul>
  </div>
<%end%>



  <div class='panel'>
    <h4>Welcome to Sport Spike</h4>
      <p></p>
  </div>
