<p>If you can see me, you've arrived at the tweets index </p>
<%= if @redis_trip.first %>
	<%= @time.to_i %> seconds have passed since the last 100 tweets mentioning the Denver Baltimore game!
		<ul>
 		 Trip objects we're recording:
  		<% @redis_trip.each do |trip| %>
  		<li> <%=trip.time %></li>
  		<%end%>
		</ul>
<% end %>