<div id="footer">
	<footer>
    <div id="social-icons">
      <a href="https://facebook.com"><%= image_tag 'facebook.png', size: '24x24' %></a>
      <a href="https://twitter.com"><%= image_tag 'twitter.png', size: '24x24' %></a>
      <a href="https://github.com"><%= image_tag 'github.png', size: '24x24' %></a>
    </div>
    <div>
      <a href="mailto:ishwar.nagar@gmail.com"> Ishwar, </a>
      <a href="mailto:stharlow@gmail.com">Steve, </a>
      <a href="mailto:chapman.snowden@gmail.com">Chapman, </a>
      <a href="mailto:mehagel65@gmai.com">Mark</a>
    </div>
  </footer>
</div>