<div class="top-nav">
  <div class="container">
    <h1>Sports Spike</h1>
    <h3>Social media analysis software to determine exciting parts in sports games</h3>
    <ul class="nav">
      <li><a href="#">Home</a></li>
      <li><a href="#">Placeholder</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</div>
