
<div class="panel">

<ul><p>NFL TEAMS</p>
  <h2>Choose a team for more information</h2>
  <% @teams.each do |team| %>
    <ul>
      <p><h3><%= link_to "#{team.hashtag}", search_term_path(team) %></h3></p>
    </ul>
  <% end %>
</div>

<!-- 
<li>"Ravens","Broncos","9-5-2013,20:30"</li>
<li>"Patriots","Bills","9-8-2013,13:00"</li>
<li>"Bengals","Bears","9-8-2013,13:00"</li>
<li>"Dolphins","Browns","9-8-2013,13:00"</li>
<li>"Raiders","Colts","9-8-2013,13:00"</li>
<li>"Chiefs","Jaguars","9-8-2013,13:00"</li>
<li>"Bucs","Jets","9-8-2013,13:00"</li>
<li>"Titans","Steelers","9-8-2013,13:00"</li>
<li>"Falcons","Saints","9-8-2013,13:00"</li>
<li>"Seahawks","Panthers","9-8-2013,13:00"</li>
<li>"Vikings","Lions","9-8-2013,13:00"</li>
<li>"Packers","49ers","9-8-2013,16:25"</li>
<li>"Cardinals","Rams","9-8-2013,16:25"</li>
<li>"Giants","Cowboys","9-8-2013,20:30"</li>
<li>"Eagles","Redskins","9-9-2013,19:10"</li>
<li>"Texans","Chargers","9-9-2013,22:20"</li>
<li>"Jets","Patriots","9-12-2013,20:25"</li>
<li>"Cowboys","Chiefs","9-15-2013,13:00"</li></ul> -->
</div>
