<div class='event-list' ng-controller='EventsCtrl'>
  <ul>
    <li ng-repeat='event in events'>
      {{ event.name }} || <small>{{ event.date | date : 'short' }}</small>
      <ul>
        <li ng-repeat='search_term in event.search_terms'>
          HashTag: {{ search_term.hashtag }}
          <ul>
            <li ng-repeat='redis_trip in search_term.redis_trips'>
              Tweet Count: {{ redis_trip.tweet_count }}
            </li>
          </ul>
        </li>
      </ul>     
    </li>
  </ul>
</div>
