<div id="wrapper">
 <div class="panel callout radius">
  <ul>
    <li >
      {{ event.name }} || <small>{{ event.date }}</small>
      <ul>
        <li>
          Time of Spike: {{ spike.date_time }} || Spike Velocity: {{ spike.peak_velocity }}
        </li>
      </ul>     
    </li>
  </ul>
 </div>
</div>
