<div class="panel">
  <h2>Select A Game</h2>
  <% @events.each do |event| %>
    <p><h3><%= link_to "#{event.name}", event_path(event) %></h3><%= Date.strptime("#{event.date}").strftime("%B %d, %Y") %></p>
  <% end %>
</div>
