<div class='panel'>
  <%= @team_name %>
<br>  
<div  id="chart"></div>
<hr>
<div  id="container" style="width: 600px; height: 300px; margin: 0 auto"></div>
</div>
<script>
  $(document).ready(function() {
    var chart1 = makeTweetGraph();
    chart1.init()
    var chart2 = makePulseChart();
    chart2.init()
  });
</script>
