@import "compass/layout/sticky-footer";
@include sticky-footer(72px, "#layout", "#layout_footer", "#footer");

html, body {
  height: 100%;
  width: 100%;
  padding-top: 40px;
  margin: 0;
  font-family: 'Jura', sans-serif;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 100px auto;
  color: #333;
}

h4{
  text-align: center;
 }

.panel {
  opacity: 0.75;
  color: #333;
  font-family: 'Jura', sans-serif;

}

#left-panel {
  font-size: 100%;
  text-align: left;
  }

.zurb-footer-bottom {
  text-align:center;
  font-size: 80%;
  }
 
 a{
 font-family: 'Jura', sans-serif;
 color: black;
 }

 p{
 font-family: 'Jura', sans-serif;
 }

 #left-panel input {
   float: right;
    display:inline;
 }
.side-nav{
  padding-top: 0px;
  padding-bottom: 15px;
 }